.container{
	width: 700px;
	margin-left: 375px;
  margin-right: 375px;
  margin-bottom: 80px;
}

.container h2{
  margin-bottom: 20px;
  padding-top: 25px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
